<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Funtions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
#A function is defined using the def keyword
def python():
  print('Hello World!!')
python()

Hello World!!

If your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def python(name, version):
  print('SQL' + ' Version ' +'3')
python('SQL', '3')

SQL Version 3

In [ ]:
def var(a):
  print(a)
var(9)

9

In [ ]:
def var(a,b):
  print(a+b)
var(4, 3)

7

In [ ]:
def cat(a,b,c):
  d =None
  if c == '+':
    d = a+b
  elif c == '-':
    d = a-b
  elif c == '*':
    d = a*b
  elif c == '%':
    d = a%b
  else:
    print('Invalid Operator')
  return(d)
a = cat(8,2,'k')

Invalid Operator

In [ ]:
print(a)

None

In [ ]:
def sum(a,b):
  d = a+b
  return(d)
sum(4,2)

6

In [ ]:
def sub(a,b):
  d = a-b
  return(d)
sub(6,2)

4

In [ ]:
def mul(a,b):
  d = a*b
  return(d)
mul(2,3)

6

In [ ]:
def div(a,b):
  d = a/b
  return(d)
div(4,2)

2.0

In [ ]:
def mod(a,b):
  d = a%b
  return(d)
mod(8,2)

0

In [ ]:
def calculator(a,b,c):
  if c == '+':
    d = a+b
    return(d)
  elif c == '-':
    d = a-b
    return(d)
  elif c == '*':
    d = a*b
    return(d)
  elif c == '/':
    d = a/b
    return(d)
  elif c == '%':
    d = a%b
    return(d)
  else:
    print('Invalid Operator')
calculator(8,2,'/')

4.0

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [ ]:
def python(*version):
  print('Python ' + version[-1])
python('version 1', 'version 2', 'version 3')

Python version 3

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

In [ ]:
def python(**lang):
  print(lang['lname'] +'version')
python(fname='Java ', lname='SQL ')

SQL version

You can also send arguments with the key = value syntax.

In [ ]:
#keyword Argument
def python(c,b,a):
  print('Python version ' + c)
python(c='3', b='2', a='1')

Python version 3

In [ ]:
#Position-only Argument
def python(a, /):
  print(a + 'version 3')
python('Python ')

Python version 3

In [ ]:
#To specify that a function can have only keyword arguments, add *, before the arguments
#Without the *, you are allowed to use positional arguments even if the function expects keyword arguments
def python(*, a):
  print(a)
python(a = 'SQL')

SQL

To let a function return a value, use the return statement:

In [ ]:
def python(a):
  return a*3
python(3)
python(8)
python(2)

6

function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def python():
  pass

#Recursion

In [ ]:
#Function calls itself. This has the benefit of meaning that you can loop through data to reach a result.
def frac(n):
  if n == 0:
    return 1
  else:
    return (n * frac(n-1)) # 5 * frac(4)
                                #4* frac(3)
                                    #3 * frac(2)  ==> 3*4 = 12
                                        # 2 * frac(1)     ==> 2*2
                                              #1 * frac(0) == 1     # 1*1


frac(5)

120

#Global Variable
Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
a = 'python'
def python():
  print(a + ' Version 3')
python()

python Version 3

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
a = 'python'
def python():
  a = 'SQL'
  print(a + ' Version 3')
python()

SQL Version 3

In [ ]:
a = 'python'
def python():
  a = 'SQL'
  print(a + ' Version 3')
python()
print(a)

SQL Version 3
python

when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def python():
  global a
  a = 'SQL'
python()
print(a)

SQL

To change the value of a global variable inside a function, refer to the variable by using the global keyword

In [ ]:
a = ' python'
def python():
  global a
  a='SQL'
python()
print(a)

SQL

#Lambda
A lambda function can take any number of arguments, but can only have one expression.

In [11]:
a = lambda b: b+5
print(a(5))

10

In [12]:
a = lambda b,c: b*c
print(a(4,2))

8