<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Funtions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [6]:
#A function is defined using the def keyword
def python():
  print('Hello World!!')
python()

Hello World!!

If your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [19]:
def python(name, version):
  print('SQL' + ' Version ' +'3')
python('SQL', '3')

SQL Version 3

In [15]:
def var(a):
  print(a)
var(9)

9

In [17]:
def var(a,b):
  print(a+b)
var(4, 3)

7

In [20]:
def cat(a,b,c):
  d =None
  if c == '+':
    d = a+b
  elif c == '-':
    d = a-b
  elif c == '*':
    d = a*b
  elif c == '%':
    d = a%b
  else:
    print('Invalid Operator')
  return(d)
a = cat(8,2,'k')

Invalid Operator

In [22]:
print(a)

None

In [36]:
def sum(a,b):
  d = a+b
  return(d)
sum(4,2)

6

In [35]:
def sub(a,b):
  d = a-b
  return(d)
sub(6,2)

4

In [37]:
def mul(a,b):
  d = a*b
  return(d)
mul(2,3)

6

In [38]:
def div(a,b):
  d = a/b
  return(d)
div(4,2)

2.0

In [39]:
def mod(a,b):
  d = a%b
  return(d)
mod(8,2)

0

In [11]:
def calculator(a,b,c):
  if c == '+':
    d = a+b
    return(d)
  elif c == '-':
    d = a-b
    return(d)
  elif c == '*':
    d = a*b
    return(d)
  elif c == '/':
    d = a/b
    return(d)
  elif c == '%':
    d = a%b
    return(d)
  else:
    print('Invalid Operator')
calculator(8,2,'/')

4.0

In [4]:
def python(*version):
  print('Python ' + version[2])
python('version 1', 'version 2', 'version 3')

Python version 3

You can also send arguments with the key = value syntax.

In [5]:
def python(c,b,a):
  print('Python version ' + c)
python(c='3', b='2', a='1')

Python version 3