<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#While Loop

#Remember to increment i, or else the loop will continue forever.

In [ ]:
i =0
while i<10:
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#With the break statement we can stop the loop even if the while condition is true
i =1
while i<6:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [ ]:
#With the continue statement we can stop the current iteration, and continue with the next
i =0
while i<6:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6

In [ ]:
# Print numbers from 1 to 10
i = 1
while i <= 10:
  print(i,  end=' ')
  i += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#Print even numbers from 2 to 20
n = 1
for n in range(2, 20):
  while n % 2 == 0:
    print(n)
    n += 1

2
4
6
8
10
12
14
16
18

In [ ]:
#sum of numbers from 1 to n
i =3
sum = 0
while i > 0:
  sum = sum + i
  i = i - 1
print(sum)

6

In [ ]:
a = "abhi"
a += "naya rao"
print(a)

abhinaya rao

In [ ]:
#Print the digits of a number in reverse
i = 1234
while i>0:
  n = i % 10
  print(n, end=" ")
  i //= 10

4 3 2 1

In [ ]:
i = '1234'
for n in i:
  print(n, end = ' ')

1 2 3 4

In [ ]:
#Count the number of digits in a number
i = '1234'
len(i)

4

In [ ]:
i = '1234'
count = 0
for n in i:
  count += 1
print(count)

4

#For Loop

In [ ]:
a = ['python', 'sql', 'java', 'c++']
for i in a:
  print(i)

python
sql
java
c++

In [ ]:
#Loop through the letters in the word "python":
for i in 'python':
  print(i)

p
y
t
h
o
n

In [ ]:
#With the break statement we can stop the loop before it has looped through all the items
a = ['python', 'sql', 'java', 'c++']
for i in a:
  print(i)
  if i == 'java':
    break

python
sql
java

In [ ]:
#Exit the loop when a is "java", but this time the break comes before the print
a = ['python', 'sql', 'java', 'c++']
for i in a:
  if i == 'java':
    break
print(i)

java

In [ ]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next
a = ['python', 'sql', 'java', 'c++']
for i in a:
  if i == 'java':
    continue
  print(i)

python
sql
c++

In [ ]:
'''The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.'''
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#It is possible to specify the increment value by adding a third parameter
for i in range(2, 50, 5):
  print(i)

2
7
12
17
22
27
32
37
42
47

In [ ]:
for i in range(11):
  print(i)
else:
  print('Finished!!')

0
1
2
3
4
5
6
7
8
9
10
Finished!!

In [ ]:
#If the loop breaks, the else block is not executed.
for i in range(11):
  print(i)
  if i == 6:
    break
else:
  print('Finished')

0
1
2
3
4
5
6

In [ ]:
for i in range(11):
  if i == 6:
    break
  print(i)
else:
  print('Finished')

0
1
2
3
4
5

In [ ]:
#The else block will NOT be executed if the loop is stopped by a break statement.
for i in range(5):
  print(i)
else:
  print('Finished')

0
1
2
3
4
Finished

#Nested Loop

In [ ]:
#A nested loop is a loop inside a loop.
#The "inner loop" will be executed one time for each iteration of the "outer loop"
i = ['python', 'java', 'sql', 'c++']
j = ['version 2', 'version 3', 'version 4']
for x in i:
  for y in j:
    print(x, y)

python version 2
python version 3
python version 4
java version 2
java version 3
java version 4
sql version 2
sql version 3
sql version 4
c++ version 2
c++ version 3
c++ version 4

In [ ]:
#Pass statement
#For loop with no content, put in the pass statement to avoid getting an error.
i = ['python', 'java', 'sql', 'c++']
for x in i:
  pass

#Arrays
Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [1]:
a = 'Python'
print(a[1])

y