<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#While Loop

In [1]:
# Print numbers from 1 to 10
i = 1
while i <= 10:
  print(i, end=' ')
  i += 1

1 2 3 4 5 6 7 8 9 10

In [2]:
#Print even numbers from 2 to 20
n = 1
for n in range(2, 20):
  while n % 2 == 0:
    print(n)
    n += 1

2
4
6
8
10
12
14
16
18

In [3]:
#sum of numbers from 1 to n
i =3
sum = 0
while i > 0:
  sum = sum + i
  i = i - 1
print(sum)

6

In [4]:
#Print the digits of a number in reverse
i = 1234
while i>0:
  n = i % 10
  print(n, end=" ")
  i //= 10

4 3 2 1

In [5]:
i = '1234'
for n in i:
  print(n, end = ' ')

1 2 3 4

In [6]:
#Count the number of digits in a number
i = '1234'
len(i)

4

In [7]:
i = '1234'
count = 0
for n in i:
  count += 1
print(count)

4

#For Loop

In [12]:
a = ['python', 'sql', 'java', 'c++']
for i in a:
  print(i)

python
sql
java
c++

In [13]:
#Loop through the letters in the word "python":
for i in 'python':
  print(i)

p
y
t
h
o
n

In [16]:
#With the break statement we can stop the loop before it has looped through all the items
a = ['python', 'sql', 'java', 'c++']
for i in a:
  print(i)
  if i == 'java':
    break

python
sql
java

In [18]:
#Exit the loop when a is "java", but this time the break comes before the print
a = ['python', 'sql', 'java', 'c++']
for i in a:
  if i == 'java':
    break
  print(i)

python
sql

In [24]:
#With the continue statement we can stop the current iteration of the loop, and continue with the next
a = ['python', 'sql', 'java', 'c++']
for i in a:
  if i == 'java':
    continue
  print(i)

python
sql
c++

In [30]:
'''The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.'''
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
#It is possible to specify the increment value by adding a third parameter
for i in range(2, 50, 5):
  print(i)

2
7
12
17
22
27
32
37
42
47