<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Methods_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String Methods

In [ ]:
A = [2,4,6,7,3,6]
for a in A:
  print(A.index(a))

0
1
2
3
4
2

In [ ]:
a = 'PYTHON.PY'
print(a.casefold())

python.py

In [ ]:
a = ('pencil')
print(a.center(20))

       pencil

In [ ]:
print(a.center(10, '1'))

11pencil11

In [ ]:
a=('python and sql and sql')
i = a.count('sql')
print(i)

2

In [ ]:
a = ('my name is abhi')
i = a.encode()
print(i)

b'my name is abhi'

In [ ]:
a = 'Python'
i = a.endswith('e')
print(i)

False

In [ ]:
a = 'p\ty\tt\th\to\tn'
i = a.expandtabs(10)
print(i)

p         y         t         h         o         n

In [ ]:
a = 'Hello welcome to my channel'
i = a.find('welcome')
print(i)

6

In [ ]:
a = "my name is {name}, and i'm {age} years old".format(name='abhi', age = '23')
print(a)

my name is abhi, and i'm 23 years old

In [ ]:
person = 'name:Alice, age: 25'
print(person)

name:Alice, age: 25

In [ ]:
person = {'name': 'Alice', 'age': 25}
template = "Name: {name}, Age: {age}"

result = template.format_map(person)
print(result)

Name: Alice, Age: 25

In [ ]:
a = 'where are you'.index('are')
print(a)

6

In [ ]:
a= 'where is my hometown'.rindex('h')
print(a)

12

In [ ]:
a = 'python3'.isalnum() #returns true or false if string is in between alphabet letter (a-z) and numbers (0-9).
print(a)

True

In [ ]:
a = 'python'.isalpha() #returns true or false if string is in between alphabet letter (a-z)
print(a)

True

In [ ]:
a = '3.0'.isdecimal()
print(a)

False

In [ ]:
a = '3'.isdigit()
print(a)

True

In [ ]:
a = 'python'.isidentifier() #It contains alphanumeric letters (a-z) and (0-9), or underscores (_). A identifier cannot start with a number, or contain any spaces.
print(a)

True

In [ ]:
a = 'Python'.islower()
print(a)

False

In [ ]:
i = 'python'.isnumeric()
print(i)

False

In [ ]:
a = 'python'.isprintable()
print(a)

True

In [ ]:
a = ' '.isspace()
print(a)

True

In [ ]:
a = 'python version 3'.title() #text start with a upper case letter, AND the rest of the word are lower case letters,
print(a)

Python Version 3

In [ ]:
a = 'PYTHON'.istitle() #True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters,
print(a)

False

In [ ]:
a = 'python version 3'.upper()
print(a)

PYTHON VERSION 3

In [ ]:
a = 'PYTHON'.isupper()
print(a)

True

In [ ]:
a = ('Four', 'Five', 'Six')
i = "@".join(a)
print(i)

Four@Five@Six

In [ ]:
a = 'what is your'.ljust(20)
print(a, 'age')

what is your         age

In [ ]:
a = 'what is your'.rjust(20)
print(a, 'age')

        what is your age

In [ ]:
a = 'PYTHON'.lower()
print(a)

python

In [ ]:
a = 'cone'
i = str.maketrans('c', 'd')
print(a.translate(i))

done

In [ ]:
a = 'my name is abhinaya. you should call me abhinaya peryala'.partition('abhinaya')
print(a)

('my name is ', 'abhinaya', '. you should call me abhinaya peryala')

In [ ]:
a = 'this is python version 3, and python version2'.rpartition('python')
print(a)

('this is python version 3, and ', 'python', ' version2')

In [ ]:
a = 'python version 3'.replace('python', 'sql')
print(a)

sql version 3

In [ ]:
a = 'where is my hometown'.rfind('e') # finds the last occurrence of the specified value.
print(a)

15

In [ ]:
a = 'Python Version 3'.swapcase()
print(a)

pYTHON vERSION 3

In [ ]:
a = 'python version 3'.split('3')
print(a)

['python version ', '']

In [ ]:
a = 'python version 3'.rsplit('version')
print(a)

['python ', ' 3']

In [ ]:
a = 'python version 3'.splitlines(3)
print(a)

['python version 3']

In [ ]:
a = "python version 3   ".rstrip()
print(a)

python version 3

In [ ]:
a = '    PYTHON    '.lstrip() #removes left spaces
print('This is',a,'version 3')

This is PYTHON     version 3

In [ ]:
a = 'python version 3'.strip()
print(a)

python version 3

In [ ]:
a = 'python version'.zfill(20)
print(a)

000000python version

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| capitalize()  | Converts the first character to upper case                      |
| casefold()    | Converts string into lower case                                 |
| center()      | Returns a centered string                                       |
| count()       | Returns the number of times a specified value occurs in a string|
| encode()      | Returns an encoded version of the string                        |
| endswith()    | Returns true if the string ends with the specified value        |
| expandtabs()  | Sets the tab size of the string                                 |
| find()        | Searches the string for a specified value and returns the position of where it was found |
| format()      | Formats specified values in a string                            |
| format_map()  | Formats specified values in a string                            |
| index()       | Searches the string for a specified value and returns the position of where it was found |
| isalnum()     | Returns True if all characters in the string are alphanumeric   |
| isalpha()     | Returns True if all characters in the string are in the alphabet|
| isascii()     | Returns True if all characters in the string are ascii characters|
| isdecimal()   | Returns True if all characters in the string are decimals       |
| isdigit()     | Returns True if all characters in the string are digits         |
| isidentifier()| Returns True if the string is an identifier                     |
| islower()     | Returns True if all characters in the string are lower case     |
| isnumeric()   | Returns True if all characters in the string are numeric        |
| isprintable() | Returns True if all characters in the string are printable      |
| isspace()     | Returns True if all characters in the string are whitespaces    |
| istitle()     | Returns True if the string follows the rules of a title         |
| isupper()     | Returns True if all characters in the string are upper case     |
| join()        | Joins the elements of an iterable to the end of the string      |
| ljust()       | Returns a left justified version of the string                  |
| lower()       | Converts a string into lower case                               |
| lstrip()      | Returns a left trim version of the string                       |
| maketrans()   | Returns a translation table to be used in translations          |
| partition()   | Returns a tuple where the string is parted into three parts     |
| replace()     | Returns a string where a specified value is replaced with a specified value |
| rfind()       | Searches the string for a specified value and returns the last position of where it was found |
| rindex()      | Searches the string for a specified value and returns the last position of where it was found |
| rjust()       | Returns a right justified version of the string                 |
| rpartition()  | Returns a tuple where the string is parted into three parts     |
| rsplit()      | Splits the string at the specified separator, and returns a list|
| rstrip()      | Returns a right trim version of the string                      |
| split()       | Splits the string at the specified separator, and returns a list|
| splitlines()  | Splits the string at line breaks and returns a list             |
| startswith()  | Returns true if the string starts with the specified value      |
| strip()       | Returns a trimmed version of the string                         |
| swapcase()    | Swaps cases, lower case becomes upper case and vice versa       |
| title()       | Converts the first character of each word to upper case         |
| translate()   | Returns a translated string                                     |
| upper()       | Converts a string into upper case                               |
| zfill()       | Fills the string with a specified number of 0 values at the beginning |

#List
It is also possible to use the list() constructor when creating a new list.

In [ ]:
b = ('python', 'sql', 'java')  #converting tuple to list
a = list(b) #list function
print(a)

['python', 'sql', 'java']

There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
*Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
*Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
*Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
#You can specify a range of indexes by specifying where to start and where to end the range.
a = ['python', 'sql', 'java']
print(a[0:2])

('python', 'sql')

In [3]:
#To determine if a specified item is present in a list use the in keyword:
a = ['python','sql','java']
if 'java' in a:
  print(True)
else:
  print(False)

True

In [4]:
#To change the value of a specific item, refer to the index number
a = ['python','sql','java']
a[1]='c++'
print(a)

['python', 'c++', 'java']

In [5]:
a = ['python','sql','java','Excel']
a[1:3]='c++', 'Javascript'
print(a)

['python', 'c++', 'Javascript', 'Excel']

In [6]:
#If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly
a = ['python','sql','java','Excel']
a[1:2]='c++', 'Javascript'
print(a)

['python', 'c++', 'Javascript', 'java', 'Excel']

In [9]:
a = ['python','sql','java','Excel']
a[1:3]= ['Javascript']
print(a)

['python', 'Javascript', 'Excel']

In [10]:
#To insert a new list item, without replacing any of the existing values, we can use the insert() method.
a = ['python','sql','java','Excel']
a.insert(1,'c++')
print(a)

['python', 'c++', 'sql', 'java', 'Excel']

#List Methods

In [ ]:
a=['Python version']  #appends an element to the end of the list.
a.append('3')    #it takes only one argument
print(a)

['Python version', '3']

In [ ]:
a = ['python', 'version']
b =['3', '6']
a.extend(b)  #adds the specified list elements to the end of the current list.
print(a)

['python', 'version', '3', '6']

In [12]:
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
a = ['python', 'version']
b =('3', '6')
a.extend(b)
print(a)

['python', 'version', '3', '6']

In [ ]:
a = ['python', 'version', '3']  #removes all the elements from a list.
a.clear()
print(a)

[]

In [ ]:
 a = ['python', 'version', '3'] #copies the elements from a list
 b = a.copy()
 print(a)
 print(b)

['python', 'version', '3']
['python', 'version', '3']

In [32]:
#We can also make a copy of a list by using the : (slice) operator.
a = ['python', 'version', '3']
b = a[:]
print(b)

['python', 'version', '3']

In [ ]:
a = ['python', 'version', '3', '3'] #returns count of the element in a list
b = a.count('3')
print(b)

2

In [ ]:
a = ['python', 'version', '3'] #returns the index of the element in a list
b = a.index('version')
print(b)

1

In [ ]:
A =['python', 'version', '3']
for a in A:
  print(A.index(a))

0
1
2

In [ ]:
a = ['python', 'version', '3']  #inserts the specified value at the specified position.
b = a.insert(2, '6')
print(a)

['python', 'version', '6', '3']

In [ ]:
#The del keyword also removes the specified index
a = ['python', 'version', '3']  #removes the value at the specified position.
b = a.pop(1)                    #If you do not specify the index, the pop() method removes the last item.
print(a)

['python', '3']

In [ ]:
a = ['python', 'version', '3']  #removes the element.
b = a.remove('version')
print(a)

['python', '3']

In [15]:
#If there are more than one item with the specified value, the remove() method removes the first occurrence
a = ['python', 'version', '3', 'version']
b = a.remove('version')
print(a)

['python', '3', 'version']

In [ ]:
a = ['python', 'version', '3']
b = a.reverse()
print(a)

['3', 'version', 'python']

In [ ]:
a = ['vivo', 'apple', 'google pixel', 'samsung'] #sorts the list ascending
a.sort()
a

['apple', 'google pixel', 'samsung', 'vivo']

In [ ]:
a = ['vivo', 'apple', 'google pixel', 'samsung']  #sort the list descending
a.sort(reverse=True)
a

['vivo', 'samsung', 'google pixel', 'apple']

In [27]:
#By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters
a = ['vivo', 'apple', 'Google pixel', 'Samsung']
a.sort()
a

['Google pixel', 'Samsung', 'apple', 'vivo']

In [29]:
#If we want a case-insensitive sort function, use str.lower as a key function
a = ['vivo', 'apple', 'Google pixel', 'Samsung']
a.sort(key = str.lower)
a

['apple', 'Google pixel', 'Samsung', 'vivo']

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| clear()  | Removes all the elements from the list                     |
| append()    | Adds an element at the end of the list                                 |
| copy()      | Returns a copy of the list                                       |
| count()       | Returns the number of elements with the specified value|
| extend()      | Add the elements of a list (or any iterable), to the end of the current list                        |
| index()    | Returns the index of the first element with the specified value        |
| insert()  | Adds an element at the specified position                                 |
| pop()        | Removes the element at the specified position |
| remove()      | Removes the first item with the specified value                           |
| reverse()  | Reverses the order of the list                            |
| sort()       | Sorts the list |

In [31]:
#You can also loop through the list items by referring to their index number.
#Use the range() and len() functions to create a suitable iterable.
a = ['vivo', 'apple', 'google pixel', 'samsung']
for i in range(len(a)):
  print(a[i])

vivo
apple
google pixel
samsung

#Loop List

In [2]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
i = 0
while i<len(a):
  print(a[i])
  i+=1

vivo
apple
google pixel
samsung

In [10]:
#List Comprehension offers the shortest syntax for looping through lists
a = ['vivo', 'apple', 'google pixel', 'samsung']
[print(i) for i in a]

vivo
apple
google pixel
samsung

[None, None, None, None]

**List comprehension** offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [18]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
b=[]
for i in a:
  if 'a' in i:
    b.append(i)
print(b)

['apple', 'samsung']

With list comprehension you can do all that with only one line of code


*   Syntax: newlist = [expression for item in iterable if condition == True]

In [2]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
b=[i for i in a if 'a' in i]
print(b)

['apple', 'samsung']

In [23]:
#The condition is like a filter that only accepts the items that evaluate to True.
a = ['vivo', 'apple', 'google pixel', 'samsung']
b=[i for i in a if i != 'apple']
print(b)

['vivo', 'google pixel', 'samsung']

The iterable can be any iterable object, like a list, tuple, set etc.

You can use the range() function to create an iterable:

In [4]:
a = [x for x in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
a =[x for x in range(20) if x%2 == 0 ]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
b = [i.upper() for i in a]
print(a)
print(b)

['vivo', 'apple', 'google pixel', 'samsung']
['VIVO', 'APPLE', 'GOOGLE PIXEL', 'SAMSUNG']

You can set the outcome to whatever you like

In [12]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
b = [' Moto' for i in a if i != 'apple']   #Can write without condition also
print(b)

[' Moto', ' Moto', ' Moto']

In [15]:
a = ['vivo', 'apple', 'google pixel', 'samsung']
b = [x if x != 'samsung' else 'Motorola ' for x in a]
print(b)

['vivo', 'apple', 'google pixel', 'Motorola ']

abs() is a built-in function that gives the absolute value (i.e., removes any minus sign).

It sorts the list based on how close each number is to 50.

In [26]:
def python(n):
  return abs(n - 50)

a = [100,40,78,23,67,90]
a.sort(key = python)
print(a)

[40, 67, 23, 78, 90, 100]

**Joining Lists**

In [33]:
#Method 1
a = ["python", 'java', 'sql', 'c++', 'excel']
b = ['apple','samsung','google pixel']
c = a+b
print(c)

['python', 'java', 'sql', 'c++', 'excel', 'apple', 'samsung', 'google pixel']

In [34]:
#Method 2
a = ["python", 'java', 'sql', 'c++', 'excel']
b = ['apple','samsung','google pixel']
a.extend(b)
print(a)

['python', 'java', 'sql', 'c++', 'excel', 'apple', 'samsung', 'google pixel']

In [40]:
#Method 3
a = ["python", 'java', 'sql', 'c++', 'excel']
b = ['apple','samsung','google pixel']
def python():
  for i in a:
    b.append(i)
  print(b)
python()

['apple', 'samsung', 'google pixel', 'python', 'java', 'sql', 'c++', 'excel']

#Tuple
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [43]:
a = ('python','sql','java')
print(type(a))

<class 'tuple'>

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Since tuples are indexed, they can have items with the same value:

In [46]:
a = ('python','sql','java')
b = list(a)
b[1] = 'excel'
a = tuple(b)
print(a)

('python', 'excel', 'java')

Tuples are immutable, they do not have a built-in append() method

We can convert it into a list, add your items, and convert it back into a tuple.

In [52]:
a = ('python','sql','java')
b = list(a)
b.append('excel')
a = tuple(b)
print(a)

('python', 'sql', 'java', 'excel')

You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the items, and add it to the existing tuple

Create a new tuple with the value, and add that tuple

In [54]:
#Remember to include a comma after the item, otherwise it will not be identified as a tuple.
a = ('python','sql','java')
b = ('excel',)
a += b
print(a)

('python', 'sql', 'java', 'excel')

you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items

When we create a tuple, we normally assign values to it. This is called "packing" a tuple
But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [56]:
a = ('python','sql','java')
(a,b,c) = a
print(a)
print(b)
print(c)

python
sql
java

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [58]:
a = ('python', 'sql','java', 'excel')
(a,*b) = a
print(a)
print(b)

python
['sql', 'java', 'excel']

#Tuple Methods

In [3]:
#Return the number of times the value 5 appears in the tuple
a = ('python', 'sql','java', 'excel', 'sql', 'java', 'sql')
print(a.count('sql'))

3

In [4]:
#Search for the first occurrence of the value, and return its position
a = ('python', 'sql','java', 'excel', 'sql', 'java', 'sql')
print(a.index('sql'))

1

#Set
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, so you cannot be sure in which order the items will appear.

se is a unindexed, we cannot be referred to by index or key.

Set items are unchangeable, but you can remove items and add new items.

In [5]:
#Duplicate values will be ignored
a = {'python', 'sql','java', 'excel', 'sql', 'java', 'sql'}
a

{'excel', 'java', 'python', 'sql'}

In [7]:
#True and 1 is considered the same value
#False and 0 is considered the same value
a = {'python', 'sql','java', True, False, 0, 1, 2}
a

{2, False, True, 'java', 'python', 'sql'}

In [8]:
#Check if "sql" is present in the set
a = {'python', 'sql','java'}
print('sql' in a)

True

To add one item to a set use the add() method.

To add items from another set into the current set, use the update() method.

In [9]:
a = {'python', 'sql','java'}
a.add('excel')
print(a)

{'java', 'python', 'sql', 'excel'}

In [12]:
a = {'python', 'sql','java'}
b = {'excel', 'c++'}
a.update(b)
print(a)

{'c++', 'python', 'sql', 'java', 'excel'}

In [14]:
a = {'python', 'sql','java'}
b = ['excel', 'c++']
a.update(b)
a

{'c++', 'excel', 'java', 'python', 'sql'}

To remove an item in a set, use the remove(), or the discard() method.

we use the pop() method to remove an item, but this method will remove a random item,

In [15]:
a = {'c++', 'excel', 'java', 'python', 'sql'}
a.remove('sql')
a

{'c++', 'excel', 'java', 'python'}

In [19]:
a = {'c', 'excel', 'java', 'python', 'sql'}
a.pop()
a

{'c', 'excel', 'java', 'sql'}

#Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [21]:
a = {'python', 'sql','java'}
b = {'excel', 'c++'}
c = a.union(b)
c
#We can use the | operator instead of the union()
a = {'python', 'sql','java'}
b = {'excel', 'c++'}
c = a|b
c

{'c++', 'excel', 'java', 'python', 'sql'}

The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

Both union() and update() will exclude any duplicate items.

In [22]:
#Joining set and tuple
a = {'python', 'sql','java'}
b = ['excel', 'c++']
c = a.union(b)
c

{'c++', 'excel', 'java', 'python', 'sql'}

In [24]:
#Intersection
a = {'python', 'sql','java'}
b = {'excel', 'c++', 'sql'}
c = a.intersection(b)
c

{'sql'}

In [25]:
a = {'python', 'sql','java'}
b = {'excel', 'c++', 'sql'}
c = a & b
c

{'sql'}

The "intersection_update()" method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [29]:
a = {'python', 'sql','java'}
b = {'excel', 'c++', 'sql'}
c = a.intersection_update(b)
a

{'sql'}

The values True and 1 are considered the same value. The same goes for False and 0.

In [30]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a&b
c

{False, True, 'sql'}

The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [31]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a.difference(b)
c

{'java', 'python'}

In [32]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a - b
c

{'java', 'python'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [33]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a.difference_update(b)
a

{'java', 'python'}

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [34]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a.symmetric_difference(b)
c

{2, 3, 'c++', 'excel', 'java', 'python'}

In [38]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a ^ b
c

{2, 3, 'c++', 'excel', 'java', 'python'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [37]:
a = {'python',True, False, 'sql','java'}
b = {'excel',1, 3, 2, 0, 'c++', 'sql'}
c = a.symmetric_difference_update(b)
a

{2, 3, 'c++', 'excel', 'java', 'python'}

#Dictionary Methods

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Remove all elements from the car list
a.clear()
print(a)

{}

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Copies the dictionary
b=a.copy()
print(a)
print(b)

{'name': 'john', 'age': '24', 'state': 'florida'}
{'name': 'john', 'age': '24', 'state': 'florida'}

In [ ]:
a = {'name', 'age', 'state'}  #Returns a dictionary with the specified keys and the specified value.
b = ('john')
c = dict.fromkeys(a, b)
print(c)

{'state': 'john', 'age': 'john', 'name': 'john'}

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns the value of the item with the specified key
print(a.get('name'))

john

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
print(a.items())

dict_items([('name', 'john'), ('age', '24'), ('state', 'florida')])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'} #Returns a list of all the keys in the dictionary
print(a.keys())

dict_keys(['name', 'age', 'state'])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns a list of all the values in the dictionary
print(a.values())

dict_values(['john', '24', 'florida'])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Removes the element with the specified key
b = (a.pop('age'))
print(a)

{'name': 'john', 'state': 'florida'}

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| clear()  | Removes all the elements from the dictionary                     |
| copy()    | Returns a copy of the dictionary                                 |
| fromkeys()      | Returns a dictionary with the specified keys and value                                       |
| get()       | Returns the value of the specified key|
| items()      | Returns a list containing a tuple for each key value pair                        |
| keys()    | Returns a list containing the dictionary's keys        |
| pop()  | Removes the element with the specified key                                 |
| popitem()        | Removes the last inserted key-value pair |
| setdefault()      | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value                           |
| update()  | Updates the dictionary with the specified key-value pairs                            |
| values()       | Returns a list of all the values in the dictionary |