<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Methods_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String Methods

In [ ]:
A = [2,4,6,7,3,6]
for a in A:
  print(A.index(a))

0
1
2
3
4
2

In [ ]:
a = 'PYTHON.PY'
print(a.casefold())

python.py

In [ ]:
a = ('pencil')
print(a.center(4))

pencil

In [ ]:
print(a.center(10, '1'))

11pencil11

In [ ]:
a=('python and sql and sql')
i = a.count('sql')
print(i)

2

In [ ]:
a = ('my name is abhi')
i = a.encode()
print(i)

b'my name is abhi'

In [ ]:
a = 'Python'
i = a.endswith('e')
print(i)

False

In [ ]:
a = 'p\ty\tt\th\to\tn'
i = a.expandtabs(10)
print(i)

p         y         t         h         o         n

In [ ]:
a = 'Hello welcome to my channel'
i = a.find('welcome')
print(i)

6

In [ ]:
a = "my name is {name}, and i'm {age} years old".format(name='abhi', age = '23')
print(a)

my name is abhi, and i'm 23 years old

In [ ]:
person = 'name:Alice, age: 25'
print(person)

name:Alice, age: 25

In [ ]:
person = {'name': 'Alice', 'age': 25}
template = "Name: {name}, Age: {age}"

result = template.format_map(person)
print(result)

Name: Alice, Age: 25

In [ ]:
a = 'where are you'.index('are')
print(a)

6

In [ ]:
a= 'where is my hometown'.rindex('h')
print(a)

12

In [ ]:
a = 'python3'.isalnum() #returns true or false if string is in between alphabet letter (a-z) and numbers (0-9).
print(a)

True

In [ ]:
a = 'python'.isalpha() #returns true or false if string is in between alphabet letter (a-z)
print(a)

True

In [ ]:
a = '3.0'.isdecimal()
print(a)

False

In [ ]:
a = '3'.isdigit()
print(a)

True

In [ ]:
a = 'python'.isidentifier() #It contains alphanumeric letters (a-z) and (0-9), or underscores (_). A identifier cannot start with a number, or contain any spaces.
print(a)

True

In [ ]:
a = 'Python'.islower()
print(a)

False

In [ ]:
i = 'python'.isnumeric()
print(i)

False

In [ ]:
a = 'python'.isprintable()
print(a)

True

In [ ]:
a = ' '.isspace()
print(a)

True

In [ ]:
a = 'python version 3'.title() #text start with a upper case letter, AND the rest of the word are lower case letters,
print(a)

Python Version 3

In [ ]:
a = 'PYTHON'.istitle() #True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters,
print(a)

False

In [ ]:
a = 'python version 3'.upper()
print(a)

PYTHON VERSION 3

In [ ]:
a = 'PYTHON'.isupper()
print(a)

True

In [ ]:
a = ('Four', 'Five', 'Six')
i = "@".join(a)
print(i)

Four@Five@Six

In [ ]:
a = 'what is your'.ljust(20)
print(a, 'age')

what is your         age

In [ ]:
a = 'what is your'.rjust(20)
print(a, 'age')

        what is your age

In [ ]:
a = 'PYTHON'.lower()
print(a)

python

In [ ]:
a = 'cone'
i = str.maketrans('c', 'd')
print(a.translate(i))

done

In [ ]:
a = 'my name is abhinaya. you should call me abhinaya peryala'.partition('abhinaya')
print(a)

('my name is ', 'abhinaya', '. you should call me abhinaya peryala')

In [ ]:
a = 'this is python version 3, and python version2'.rpartition('python')
print(a)

('this is python version 3, and ', 'python', ' version2')

In [ ]:
a = 'python version 3'.replace('python', 'sql')
print(a)

sql version 3

In [ ]:
a = 'where is my hometown'.rfind('e') # finds the last occurrence of the specified value.
print(a)

15

In [ ]:
a = 'Python Version 3'.swapcase()
print(a)

pYTHON vERSION 3

In [ ]:
a = 'python version 3'.split('3')
print(a)

['python version ', '']

In [ ]:
a = 'python version 3'.rsplit('version')
print(a)

['python ', ' 3']

In [ ]:
a = 'python version 3'.splitlines(3)
print(a)

['python version 3']

In [ ]:
a = "python version 3   ".rstrip()
print(a)

python version 3

In [ ]:
a = '    PYTHON    '.lstrip() #removes left spaces
print('This is',a,'version 3')

This is PYTHON     version 3

In [ ]:
a = 'python version 3'.strip()
print(a)

python version 3

In [ ]:
a = 'python version'.zfill(20)
print(a)

000000python version

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| capitalize()  | Converts the first character to upper case                      |
| casefold()    | Converts string into lower case                                 |
| center()      | Returns a centered string                                       |
| count()       | Returns the number of times a specified value occurs in a string|
| encode()      | Returns an encoded version of the string                        |
| endswith()    | Returns true if the string ends with the specified value        |
| expandtabs()  | Sets the tab size of the string                                 |
| find()        | Searches the string for a specified value and returns the position of where it was found |
| format()      | Formats specified values in a string                            |
| format_map()  | Formats specified values in a string                            |
| index()       | Searches the string for a specified value and returns the position of where it was found |
| isalnum()     | Returns True if all characters in the string are alphanumeric   |
| isalpha()     | Returns True if all characters in the string are in the alphabet|
| isascii()     | Returns True if all characters in the string are ascii characters|
| isdecimal()   | Returns True if all characters in the string are decimals       |
| isdigit()     | Returns True if all characters in the string are digits         |
| isidentifier()| Returns True if the string is an identifier                     |
| islower()     | Returns True if all characters in the string are lower case     |
| isnumeric()   | Returns True if all characters in the string are numeric        |
| isprintable() | Returns True if all characters in the string are printable      |
| isspace()     | Returns True if all characters in the string are whitespaces    |
| istitle()     | Returns True if the string follows the rules of a title         |
| isupper()     | Returns True if all characters in the string are upper case     |
| join()        | Joins the elements of an iterable to the end of the string      |
| ljust()       | Returns a left justified version of the string                  |
| lower()       | Converts a string into lower case                               |
| lstrip()      | Returns a left trim version of the string                       |
| maketrans()   | Returns a translation table to be used in translations          |
| partition()   | Returns a tuple where the string is parted into three parts     |
| replace()     | Returns a string where a specified value is replaced with a specified value |
| rfind()       | Searches the string for a specified value and returns the last position of where it was found |
| rindex()      | Searches the string for a specified value and returns the last position of where it was found |
| rjust()       | Returns a right justified version of the string                 |
| rpartition()  | Returns a tuple where the string is parted into three parts     |
| rsplit()      | Splits the string at the specified separator, and returns a list|
| rstrip()      | Returns a right trim version of the string                      |
| split()       | Splits the string at the specified separator, and returns a list|
| splitlines()  | Splits the string at line breaks and returns a list             |
| startswith()  | Returns true if the string starts with the specified value      |
| strip()       | Returns a trimmed version of the string                         |
| swapcase()    | Swaps cases, lower case becomes upper case and vice versa       |
| title()       | Converts the first character of each word to upper case         |
| translate()   | Returns a translated string                                     |
| upper()       | Converts a string into upper case                               |
| zfill()       | Fills the string with a specified number of 0 values at the beginning |

#List Methods

In [ ]:
a=['Python version']  #appends an element to the end of the list.
a.append('3')    #it takes only one argument
print(a)

['Python version', '3']

In [ ]:
a = ['python', 'version']
b =['3', '6']
a.extend(b)  #adds the specified list elements to the end of the current list.
print(a)

['python', 'version', '3', '6']

In [ ]:
a = ['python', 'version', '3']  #removes all the elements from a list.
a.clear()
print(a)

[]

In [ ]:
 a = ['python', 'version', '3'] #copies the elements from a list
 b = a.copy()
 print(a)
 print(b)

['python', 'version', '3']
['python', 'version', '3']

In [ ]:
a = ['python', 'version', '3', '3'] #returns count of the element in a list
b = a.count('3')
print(b)

2

In [ ]:
a = ['python', 'version', '3'] #returns the index of the element in a list
b = a.index('version')
print(b)

1

In [ ]:
A =['python', 'version', '3']
for a in A:
  print(A.index(a))

0
1
2

In [ ]:
a = ['python', 'version', '3']  #inserts the specified value at the specified position.
b = a.insert(2, '6')
print(a)

['python', 'version', '6', '3']

In [ ]:
a = ['python', 'version', '3']  #removes the value at the specified position.
b = a.pop(1)
print(a)

['python', '3']

In [ ]:
a = ['python', 'version', '3']  #removes the element.
b = a.remove('version')
print(a)

['python', '3']

In [ ]:
a = ['python', 'version', '3']
b = a.reverse()
print(a)

['3', 'version', 'python']

In [ ]:
a = ['vivo', 'apple', 'google pixel', 'samsung'] #sorts the list ascending
a.sort()
a

['apple', 'google pixel', 'samsung', 'vivo']

In [ ]:
a = ['vivo', 'apple', 'google pixel', 'samsung']  #sort the list descending
a.sort(reverse=True)
a

['vivo', 'samsung', 'google pixel', 'apple']

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| clear()  | Removes all the elements from the list                     |
| append()    | Adds an element at the end of the list                                 |
| copy()      | Returns a copy of the list                                       |
| count()       | Returns the number of elements with the specified value|
| extend()      | Add the elements of a list (or any iterable), to the end of the current list                        |
| index()    | Returns the index of the first element with the specified value        |
| insert()  | Adds an element at the specified position                                 |
| pop()        | Removes the element at the specified position |
| remove()      | Removes the first item with the specified value                           |
| reverse()  | Reverses the order of the list                            |
| sort()       | Sorts the list |

#Dictionary Methods

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Remove all elements from the car list
a.clear()
print(a)

{}

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Copies the dictionary
b=a.copy()
print(a)
print(b)

{'name': 'john', 'age': '24', 'state': 'florida'}
{'name': 'john', 'age': '24', 'state': 'florida'}

In [ ]:
a = {'name', 'age', 'state'}  #Returns a dictionary with the specified keys and the specified value.
b = ('john')
c = dict.fromkeys(a, b)
print(c)

{'state': 'john', 'age': 'john', 'name': 'john'}

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns the value of the item with the specified key
print(a.get('name'))

john

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
print(a.items())

dict_items([('name', 'john'), ('age', '24'), ('state', 'florida')])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'} #Returns a list of all the keys in the dictionary
print(a.keys())

dict_keys(['name', 'age', 'state'])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Returns a list of all the values in the dictionary
print(a.values())

dict_values(['john', '24', 'florida'])

In [ ]:
a = {'name':'john', 'age':'24', 'state':'florida'}  #Removes the element with the specified key
b = (a.pop('age'))
print(a)

{'name': 'john', 'state': 'florida'}

| Method        | Description                                                     |
|---------------|-----------------------------------------------------------------|
| clear()  | Removes all the elements from the dictionary                     |
| copy()    | Returns a copy of the dictionary                                 |
| fromkeys()      | Returns a dictionary with the specified keys and value                                       |
| get()       | Returns the value of the specified key|
| items()      | Returns a list containing a tuple for each key value pair                        |
| keys()    | Returns a list containing the dictionary's keys        |
| pop()  | Removes the element with the specified key                                 |
| popitem()        | Removes the last inserted key-value pair |
| setdefault()      | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value                           |
| update()  | Updates the dictionary with the specified key-value pairs                            |
| values()       | Returns a list of all the values in the dictionary |