<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Python_begineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module:1

In [1]:
print("Hello Python")

Hello Python

In [6]:
print("Hello \nWorld!")

Hello
World!

10 = int,
2.23 = float,
"Hello" = str

Typecasting

In [7]:
int(2.2)

2

Conversion of float to int may loose some information

In [9]:
float(1)

1.0

bool(1) = True, bool(0) = False

In [ ]:
A=(0,1,2,3)

Numbers[::2] means start at index 0 and take every second element.

In [36]:
Numbers=['01234567','987654','12345678','654321']
Numbers[::2]

['01234567', '12345678']

In [32]:
var = '01234567'
print(var[::2])

0246

List slicing not string slicing

In [24]:
"654321".find('2')

4

In [23]:
"Hello".find('1')

-1

Since '1' (one) is not in the string "Hello", the result is -1.

In [30]:
3+2*3/3

5.0

name[0:2] means slice the string from index 0 up to index 2 (but not including index 2)

In [31]:
name = 'Lizz'
print(name[0:2])

Li

In [38]:
'A' + 'B'

'AB'

In [44]:
var = [1, 2, 3, 4]
print(sum(var))

10

#Module: 2

A is tuple with numbers 0,1,2,3

*  Tuples are immutable (which cannot change)


*   Lists are mutable(which can change)

In [47]:
A = (0,3,5,8)

In [51]:
A[3]

8

Indexing starts from 0.

A[3] gives the element at index 2, which is '8'.

In [49]:
A[-1]

8

A[-1] refers to the last element of the tuple

In [ ]:
B=['a', 'b', 'c']

In [ ]:
B[1:-1]

['b']

This slices the list starting at index 1 up to (but not including) index -1.

In [ ]:
S={"A", "B","C"}
U={"A","E", "C"}
S and U

{'A', 'C', 'E'}

and operator does not perform a set operation like intersection.  Instead, it follows truthy evaluation logic:

In a logical and expression, It returns the first falsy operand, if any.
Otherwise, it returns the last operand.

In [ ]:
S={"A", "B","C"}
U={"A","E", "C"}
S & U

{'A', 'C'}

The & operator performs a set intersection, It returns a new set containing elements that are common to both sets S and U.

In [ ]:
D={'a':1, 'b':2, 'c':3}

In [ ]:
D.values()

dict_values([1, 2, 3])

D.values() returns that displays a list of all the values in the dictionary.

In [ ]:
D.keys()

dict_keys(['a', 'b', 'c'])

D.keys() returns which shows all the keys in the dictionary.

In [ ]:
D['b']

2

D['b'] gives the value associated with the key 'b' in the dictionary D.

In [ ]:
A=('a', 'b', 'c')

In [ ]:
A[0]

'a'

In [ ]:
Dict={"a":1, "b":"2", 'c':[3,3,3], 'd':(4,4,4), 'e':5, 'f':6}

In [ ]:
Dict['d']

(4, 4, 4)

#Module 3

In [15]:
i=3
i!=2

True

In [17]:
#Equality sign to compare the strings
'Abhi'!='Nikitha'

True

In [6]:
x='1'
if(x!='0'):
  print('This is a')
else:
  print('This is not a')

This is a

In [11]:
y=111
x=1
x>0 or y<10

True

In [24]:
#If else condition
value = 10
if(value == 20):
  print('Expression is true')
else:
  print('Expression is false')
print('Move on')

Expression is false
Move on

In [ ]:
#Elif condition