<a href="https://colab.research.google.com/github/Abhinayarao/Python/blob/main/Python_begineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module:1

In [1]:
print("Hello Python")

Hello Python

In [6]:
print("Hello \nWorld!")

Hello
World!

10 = int,
2.23 = float,
"Hello" = str

Typecasting

In [7]:
int(2.2)

2

Conversion of float to int may loose some information

In [9]:
float(1)

1.0

bool(1) = True, bool(0) = False

In [ ]:
A=(0,1,2,3)

Numbers[::2] means start at index 0 and take every second element.

In [36]:
Numbers=['01234567','987654','12345678','654321']
Numbers[::2]

['01234567', '12345678']

In [32]:
var = '01234567'
print(var[::2])

0246

List slicing not string slicing

In [24]:
"654321".find('2')

4

In [23]:
"Hello".find('1')

-1

Since '1' (one) is not in the string "Hello", the result is -1.

In [30]:
3+2*3/3

5.0

name[0:2] means slice the string from index 0 up to index 2 (but not including index 2)

In [31]:
name = 'Lizz'
print(name[0:2])

Li

In [38]:
'A' + 'B'

'AB'

In [44]:
var = [1, 2, 3, 4]
print(sum(var))

10

#Module: 2

A is tuple with numbers 0,1,2,3

*  Tuples are immutable (which cannot change)


*   Lists are mutable(which can change)

In [47]:
A = (0,3,5,8)

In [51]:
A[3]

8

Indexing starts from 0.

A[3] gives the element at index 2, which is '8'.

In [49]:
A[-1]

8

A[-1] refers to the last element of the tuple

In [ ]:
B=['a', 'b', 'c']

In [ ]:
B[1:-1]

['b']

This slices the list starting at index 1 up to (but not including) index -1.

In [ ]:
S={"A", "B","C"}
U={"A","E", "C"}
S and U

{'A', 'C', 'E'}

and operator does not perform a set operation like intersection.  Instead, it follows truthy evaluation logic:

In a logical and expression, It returns the first falsy operand, if any.
Otherwise, it returns the last operand.

In [ ]:
S={"A", "B","C"}
U={"A","E", "C"}
S & U

{'A', 'C'}

The & operator performs a set intersection, It returns a new set containing elements that are common to both sets S and U.

In [ ]:
D={'a':1, 'b':2, 'c':3}

In [ ]:
D.values()

dict_values([1, 2, 3])

D.values() returns that displays a list of all the values in the dictionary.

In [ ]:
D.keys()

dict_keys(['a', 'b', 'c'])

D.keys() returns which shows all the keys in the dictionary.

In [ ]:
D['b']

2

D['b'] gives the value associated with the key 'b' in the dictionary D.

In [ ]:
A=('a', 'b', 'c')

In [ ]:
A[0]

'a'

In [ ]:
Dict={"a":1, "b":"2", 'c':[3,3,3], 'd':(4,4,4), 'e':5, 'f':6}

In [ ]:
Dict['d']

(4, 4, 4)

#Module 3

In [15]:
i=3
i!=2

True

In [17]:
#Equality sign to compare the strings
'Abhi'!='Nikitha'

True

In [6]:
x='1'
if(x!='0'):
  print('This is a')
else:
  print('This is not a')

This is a

In [11]:
y=111
x=1
x>0 or y<10

True

In [24]:
#If else condition
value = 10
if(value == 20):
  print('Expression is true')
else:
  print('Expression is false')
print('Move on')

Expression is false
Move on

In [2]:
#Elif condition
age = 18
if(age>18):
  print('You can enter')
elif(age==18):
  print('You can enter but no alcohol')
else:
  print('You can not enter')

You can enter but no alcohol

Logical operators

*   And
*   Or
*   Not

In [4]:
#Condition statement
movie_year=1986
if(movie_year>1983):
  print('This movie is greater than 1983')
print('Do something')

This movie is greater than 1983
Do something

    A  B  A&B
*   T  T  T
*   T  F  F
*   F  T  F
*   F  F  F

In [5]:
movie_year=1975
if(movie_year>1983) and (movie_year<1990):
  print('This movie is greater than 1983')
else:
  print('This movie is not greater than 1983')
print('Do something')

This movie is not greater than 1983
Do something

    A  B  A or B

*   T T T
*   T F T
*   F F F
*   F T T

In [6]:
#Write a Python program to check if a player has less than 10 achievements and does not play Soccer. Print their details if they meet the criteria.
players = [
    ("Serena Williams", "Tennis", "23 Grand Slams"),
    ("Lionel Messi", "Soccer", "7 Ballon d'Ors"),
    ("Michael Phelps", "Swimming", "23 Gold Medals"),
    ("Usain Bolt", "Athletics", "8 Gold Medals"),
    ("Roger Federer", "Tennis", "20 Grand Slams"),
    ("Cristiano Ronaldo", "Soccer", "5 Ballon d'Ors")
]
for name, sport, achievement in players:
    number=int(achievement.split()[0])
    if(number<10) and (number != 'Soccer'):
        print(name,',', sport, ',', achievement)

Lionel Messi , Soccer , 7 Ballon d'Ors
Usain Bolt , Athletics , 8 Gold Medals
Cristiano Ronaldo , Soccer , 5 Ballon d'Ors

In [7]:
#Write a Python program to check if a player belongs to the sport Tennis or has exactly 20 achievements. If the condition is true, print a success message.
for name, sport, achievement in players:
    number = int(achievement.split()[0])
    if sport == "Tennis" or number == 20:
        print(f"Success: {name} meets the condition.")

Success: Serena Williams meets the condition.
Success: Roger Federer meets the condition.

In [12]:
#Write a Python program to check if a player Lionel Messi has more than 10 achievements. If the condition is true, print the player's name, sport, and achievements else print does not have more than 10 achievements.
player_achievements = 7
if(player_achievements>10):
    print('Lionel Messi, Soccer, 7 Ballon dOrs')
else:
    print('Does not have more than 10 achievements')

Does not have more than 10 achievements

In [1]:
#Loops
#Use loops to print out the elements in the list A:
A=[3,4,5]
for a in A:
  print(a)

3
4
5

In [2]:
#print out the sequence  1,2,..,10 :
x=11
y=1
while(y!=x):
  print(y)
  y=y+1

1
2
3
4
5
6
7
8
9
10

In [3]:
dates = [1982,1980,1973]
for i in range(0,3):
  print(dates[i])

1982
1980
1973

In [4]:
a=1
def add(b):
  return a+b
  c=add(10)

In [5]:
def add(a):
  b=1+A
  print(a,"If you add one", b)
  return(b)

If we call the function with a new input we get a new result

In [ ]:
add(1)

In [7]:
def mult(a,b):
  c=a*b
  return(c)
  print('This is not printed')
result = mult(12,2)
print(result)

24

In [9]:
mult(2,12)

24

In [12]:
mult(2, " python")

' python python'

In [15]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0
else:
    c1 = 5
c1

5

In [19]:
a=2
b=3
def con(a, b):
  result = (a+b)
  print(result)
  return result
con(a,b)

5

5

In [26]:
album_year =[1,33,45,87,90,23,56,43]
album_year.sort()
print(album_year)

[1, 23, 33, 43, 45, 56, 87, 90]

In [25]:
album_year =[1,33,45,87,90,23,56,43]
album_year_sorted = sorted(album_year)
print(album_year_sorted)

[1, 23, 33, 43, 45, 56, 87, 90]

In [30]:
album_year =[1,33,45,87,90,23,56,43]
album_year.sort()
album_year.reverse()
print(album_year)

[90, 87, 56, 45, 43, 33, 23, 1]

In [31]:
sum(album_year)

378